
<div class="fixed left-[50%] translate-x-[-50%]">
  <% if (successMessage.length > 0) { %>
    <%- include ./success.ejs %>
  <% } %>
  <% if (errorMessage.length > 0) { %>
    <%- include ./errors.ejs %>
  <% } %>
  <% if (warningMessage.length > 0) { %>
    <%- include ./warning.ejs %>
  <% } %>
  
</div>


<script>

  setTimeout(() => {
    document.getElementById('myElement').classList.add('hidden');
  }, 5000);
      
  </script>
  